/* Variables */

:root {
    --basic-black: #151C22;
    --basic-white: #FFFFFF;
    --basic-gray: #727A82;
    --basic-gray-light: #F1F2F4;
    --basic-gray-extra-light: #E5E5E5;
    --special-gray: #B0C3C7;
}


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", "Tahoma", sans-serif;
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
}

.main-nav-items {
    position: absolute;
width: 59px;
height: 10px;
left: 98px;
top: 117px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
    list-style: none;
    width: 400px;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav-item1 {
position: absolute;
width: 33px;
height: 10px;
left: 98px;
top: 162px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
list-style: none;
    width: 400px;
    padding: 0;
    margin: 0;
    display: flex;
}
.main-nav-item2 {
position: absolute;
width: 35px;
height: 10px;
left: 98px;
top: 207px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
    width: 400px;
    padding: 0;
    margin: 0;
    display: flex;
}

.personel-menu {
    display: flex;
}

.main-nav-item:not(:last-child) {
    margin-right: 35px;
}

.main-nav-item a {
    color: var(--basic-black);
}

.logo {
    margin: auto;
}

.personel-menu {
    display: flex;
    justify-content: flex-end;
    min-width: 400px;
}

.personel-menu a {
    display: block;
}

.personel-menu a:not(:last-child) {
    margin-right: 35px;
}

.search {
position: absolute;
height: 18px;
left: 91.51%;
right: 7.17%;
top: 170px;
}

.cart {
    position: absolute;
    height: 18px;
    left: 91.36%;
    right: 7.17%;
    top: 117px;

}


/* Main */

.main {
    display: flex;
    flex-direction: column;
}


/* Main -- Promo */

.promo {
    min-height: 617px;
    background-color: var(--basic-gray-light);
    margin-bottom: 121px;
}

.promo-wrapper {
    display: flex;
    justify-content: center;
}

.promo-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 355px;
    padding-left: 25px;
    padding-top: 63px;
}

.promo-slogan {
    color: var(--basic-gray);
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-top: auto;
    padding-left: 3px;
    padding-bottom: 4px;
}

.promo-title {
    font-family: "Anton", "Tahoma", sans-serif;
    font-size: 124px;
    line-height: 100px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 19px;
}

.promo-pict {
    position: relative;
    width: 530px;
    padding-left: 73px;
    padding-top: 50px;
    z-index: 10;
}

.promo-pict::before {
    content: "";
    position: absolute;
    top: 0;
    left: 23px;
    background-image: url(../img/bg2.svg);
    width: 232px;
    height: 176px;
    background-repeat: no-repeat;
    z-index: -1;
}

.promo-pict::after {
    content: "";
    position: absolute;
    bottom: -45px;
    right: -23px;
    background-image: url(../img/bg1.svg);
    width: 232px;
    height: 176px;
    background-repeat: no-repeat;
    z-index: -1;
}

.button {
    display: block;
    min-height: 64px;
    background-color: var(--basic-black);
    color: var(--basic-white);
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-top: 25px;
}

.promo-btn {
    width: 219px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 50px;
}


/* Main --Bestsellers */

.bestsellers {
    margin-bottom: 95px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}

.title-wrapper a {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.title-wrapper a::after {
    position: absolute;
    content: "";
    background-color: var(--basic-black);
    width: 80px;
    height: 2px;
    bottom: 8px;
    left: -5px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 62px;
}

.catalog-item p,
.category-item p {
    margin: 0;
}

.catalog-item a,
.category-item a {
    color: var(--basic-black);
}

.item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-top: 17px;
}

.cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 7px;
}


/* Main -- News */

.news {
    margin-bottom: 100px;
}

.news-wrapper {
    display: flex;
    min-height: 462px;
    margin-top: 63px;
}

.news-img-inner {
    width: 700px;
}

.news-inner {
    display: flex;
    align-items: center;
    width: 470px;
    background-image: url(../img/bg3.svg);
}

.text-news-inner {
    width: 400px;
    min-height: 308px;
    background-color: var(--basic-gray-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding-left: 43px;
    padding-right: 40px;
    padding-top: 55px;
}

.news-inner h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 30px;
}

.text-news-inner time {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.news-text {
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-gray);
    margin: 0;
    margin-bottom: 24px;
}

.news-btn {
    width: 200px;
    text-align: center;
}


/* Main -- Category Shop */

.category-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 62px;
}


/* Foorter */

.footer {
    margin-top: 130px;
    background-color: var(--basic-black);
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.logo-wrapper {
    margin-bottom: 24px;
}

.logo-wrapper path {
    fill: var(--basic-white);
}

.footer-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.footer-nav-item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-white);
}

.footer-nav-item:not(:last-child) {
    margin-right: 35px;
}

.socials-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.social-item:not(:last-child) {
    margin-right: 30px;
}

.social-item a {
    display: block;
    width: 20px;
    height: 20px;
}

.fb {
    background-image: url(../img/fb.svg);
    background-repeat: no-repeat;
}

.inst {
    background-image: url(../img/ints.svg);
    background-repeat: no-repeat;
}

.pinterest {
    background-image: url(../img/pinterest.svg);
    background-repeat: no-repeat;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
}


/* Catalog -- Nav */

.catalog-nav-wrapper {
    display: flex;
}

.catalog-title-wrapper {
    width: 370px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 39px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child) {
    margin-right: 29px;
}

.breadcrumbs-item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-gray);
}

.breadcrumbs-item .bread-current {
    color: var(--basic-black);
    pointer-events: none;
}

.breadcrumbs-item:not(:last-child)::after {
    content: "/";
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-gray);
    right: -20px;
}

.catalog-title {
    margin: 0;
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    line-height: 125%;
}

.catalog-pict {
    min-width: 360px;
    margin-right: auto;
    position: relative;
    align-content: center;
}

.catalog-pict img {
    margin-left: -8px;
}

.catalog-pict::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: -38px;
    background-image: url(../img/bg2.svg);
    width: 178px;
    height: 135px;
    background-repeat: no-repeat;
    z-index: -1;
}

.catalog-pict::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 39px;
    background-image: url(../img/bg2.svg);
    width: 232px;
    height: 176px;
    background-repeat: no-repeat;
    z-index: -1;
}


/* Catalog -- Filter & List */

.filter-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
}

.filter-catalog {
    width: 243px;
    height: 50px;
    border: 2px solid var(--basic-black);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-left: 18px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-list .catalog-item {
    margin-bottom: 66px;
}


/* Catalog -- Pagination */

.pagination-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination-wrapper p {
    font-size: 18px;
    line-height: 21px;
}

.scale {
    width: 199px;
    height: 2px;
    background-color: var(--basic-gray-extra-light);
}

.bar {
    width: 20%;
    height: 2px;
    background: var(--basic-black);
}

.paggination-btn {
    text-align: center;
    margin-top: 40px;
    width: 200px;
}


/* Item */

.card-product {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 50px;
}


/* Item -- Slider */

.slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 540px;
}

.slider-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 400px;
}

.slider-items li:first-child {
    height: 523px;
    margin-bottom: 20px;
}

.slider-items li:not(:first-child):not(:last-child) {
    margin-right: 20px;
}

.slider-arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 193px
}

.arrow-prev {
    border: none;
    width: 13px;
    height: 23px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.arrow-next {
    border: none;
    width: 13px;
    height: 23px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-color: transparent;
    cursor: pointer;
}


/* Item -- Card Description Form order */

.card-desc {
    background-color: var(--basic-gray-light);
    width: 570px;
    padding-left: 70px;
    padding-top: 60px;
}

.color-list,
.size-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-title,
.card-subtitle,
.description-text {
    margin: 0;
}

.card-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 29px;
}

.description-text {
    width: 370px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
}

.card-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 22px;
}

.color-list,
.size-list {
    display: flex;
    justify-content: flex-start;
}

.color-items {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.size-items {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.card-desc .cost {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.card-btn {
    border: none;
    width: 200px;
    padding: 0;
}

.color-item:not(:last-child),
.size-item:not(:last-child) {
    margin-right: 21px;
}


/* Item -- Card Description Form order -- Checkbox*/

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check-box {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../img/gray-normal.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.check-input:checked+.check-box {
    width: 22px;
    height: 22px;
    background-image: url(../img/gray-check.svg);
    background-repeat: no-repeat;
}

.check-box.blue {
    background-image: url(../img/blue-normal.svg);
}

.check-input:checked+.check-box.blue {
    background-image: url(../img/blue-check.svg);
}

.check-box.dark-gray {
    background-image: url(../img/dark-gray-normal.svg);
}

.check-input:checked+.check-box.dark-gray {
    background-image: url(../img/dark-gray-check.svg);
}

.check-box-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-gray);
    cursor: pointer;
}

.check-input:checked+.check-box-text {
    color: var(--basic-black);
}